
*,
*::after,
*::before {
  box-sizing: border-box;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button,
input {
  font-size: inherit;
}

body {
  margin: 0;
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  overflow-x: hidden;
  background-size: 400% 400%;
}

/* голова */
.wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fafafa;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 2;
}

/* лого */
.header__logo-img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

/* кнопка */
.header__singout-btn {
  display: inline-block;
  background-color: #ecf0f1;
  color: #3498db;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 10px 15px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.header__singout-btn:hover {
  background-color: #007bff;
  color: white;
  border: 1px solid blue;
}

.disable {
  pointer-events: none;
  cursor: not-allowed;
}

/* Вверхние кнопки */
.main {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  z-index: 2;
}

/* страницы */
.main__pages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* главные кнопки */
.main__page-btn {
  text-decoration: none;
  padding: 5px;
  background-color: #ecf0f1;
  border-radius: 5px;
  color: #007bff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.main__page-btn:hover {
  background-color: #007bff;;
  color: white;
}

.main__page-btn:focus {
  outline: none;
}

/* lessons_link and lessons */
.lessons {
    list-style-type: none; 
    padding: 0; 
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
}

.lessons__link {
    text-decoration: none; 
    padding: 5px; 
    background-color: #ecf0f1; 
    border-radius: 5px; 
    color: #3498db; 
    display: block; 
    transition: background-color .3s, color .3s; 
}

.lessons__link:hover {
    background-color: #3498db; 
    color: white; 
} 

.lesson-item {
    width: calc(100% - 20px); /* Учитываем отступы */
    margin: 10px auto; 
}

.lesson-item button {
    width: calc(100% - 20px); /* Учитываем отступы */
    cursor: pointer; 
    text-align: start; 
    text-decoration: none; 
    color: #007bff; 
    font-size: 16px; 
    padding-left:10px; 
    border:1px solid #007bff; 
    border-radius:5px; 
    transition:.3s; 
    display:flex; 
    justify-content: space-between; 
    height:40px; 
    align-items:center; 
}

.lock_img {
    display:flex; 
    background-image:url("./img/lock.jpg"); 
    background-size:contain; 
    background-position:center; 
    background-repeat:no-repeat; 
    width:100px; 
    border-radius:1px; 
    height:100%; 
}

.lesson-item button:hover {
    background-color:#007bff;; 
    color:white; 
}

/* Мобильные стили */
@media (max-width:768px) {
.wrapper {
  padding:10px; 
  gap:10px; 
  width:auto; /* Убедитесь, что ширина адаптируется */
}

.header {
  flex-direction:column; 
  align-items:center; 
  padding:15px; 
  width:auto; /* Убедитесь, что ширина адаптируется */
}

.header__logo-img {
  border-radius:10px; 
}

.main__pages {
  flex-direction:row; 
  flex-wrap:wrap; 
  gap:10px; 
  width:auto; /* Убедитесь, что ширина адаптируется */
}

.main__page-btn,
.lesson-item button {
  flex-basis:auto; /* Изменено для лучшей адаптивности */
  min-width:auto; /* Изменено для лучшей адаптивности */
  margin-bottom:10px; 
  font-size:14px; 
}

.lessons {
  flex-direction:column; 
  gap:5px; 
}

.lock_img {
  width:auto;
  height:auto;
  margin:auto;
}
}

/* для планшета */
@media (min-width:768px) and (max-width:1024px) {
.wrapper {
  padding:10px; 
}

.header {
  flex-direction:column; 
  align-items:center; 
  padding:15px; 
  width:auto;
}

.header__logo-img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.main__pages {
  flex-direction:column; 
  align-items:flex-start;
  width:auto;
}
}